/*Body design*/
body{
    background-image: url(Wth.jpg);
/*Navbar style*/  
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
}
/*Home,contact,news,pricing style*/
nav ul li a{
    text-decoration: none;
    font-size: 28px;
    color: rgb(244, 7, 7);
    font-family: sans-serif;
}
/*Login Button style*/
nav ul li button{
    font-size: 30px;
    color: rgb(43, 2, 93);
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
/*Hover style*/
nav ul li button:hover{
    color: aqua;
}
nav ul li a:hover{
    color: aqua;
}
/*Cweather style*/
a{
    text-decoration: none;
    color:rgb(241, 2, 82);
    font-size: 75px;
}

h1{
   margin-left: 18px; 
   color: rgb(182, 8, 8);
   padding: 30px 0;
   text-align: left;
   font-size: 3.75rem;
}
/*Enter city name style*/
h3{
    color: #060606;
    font-size: 1.87rem;
}
/*container style*/
.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}
.weather-input{
    width: 440px;
    height: 340px;
}
.weather-input input{
    width: 410px;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.weather-input .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #242b4a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-input .separator::before{
    content: "or";
    color: #5372f5;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #faf8f8;
}
.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1rem;
    border-radius: 4px;
    background: #5372f5;
}
.weather-input .location-btn{
    background: #4e5fab;
}
.weather-data{
    width: 100%;
}
.current-weather{
    color: #080808;
    display: flex;
    border-radius: 5px;
    padding: 8px 40px 10px 10px;
    background: #bdc6ef;
    justify-content: space-between;
}
.current-weather h2{
    font-size: 1.7rem;
}
.weather-data{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon{
    text-align: center;
}
.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4{
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2{
    font-size: 1.8rem;
    margin: 20px 0;
}
.days-forecast h3{
    font-size: 1.75rem;
}
.weather-cards{
    display: flex;
    gap: 40px;
}
.weather-cards .card{
    list-style: none;
    color: #0e0e0e;
    padding: 18px 16px;
    border-radius: 5px;
    background: #bac5f9;
    width: calc(100% / 5);
}
.weather-cards .card img{
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

/*footer container*/
footer{
    background-color: #060606;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 12px;
    background-color: #ccc;
    margin: 8px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1em;
    color: blue;
    opacity: 0.5s;
}
/*hoover effect for the social media icon*/
.socialIcons a:hover{
    background-color: #080808;
    transition: 0.5s;
}
.socialIcons a:hover{
    color: white;
    transition: 0.4s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;
}
.footerNav ul li a{
    color: rgb(229, 11, 11);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    font-weight: bold;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-decoration: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0px 5px;
}
@media(max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/*Login button container*/
.login-form
{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    background:rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    height: 100%;
    gap: 65px;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
    background-color: rgb(119, 178, 241);
    border-radius: 2px;
	margin:4% auto;
	padding:10px;
    overflow: hidden;
   
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #f2ad921f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}
/*google map style*/
.container2{
    width: 420px;
    height: 230px;
    display: flex;
    gap: 35px;
    padding: 25px;
    
    
}


