body{
    background-image: url(Wth.jpg);
  
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 28px;
    color: rgb(247, 86, 86);
    font-family: sans-serif;
}
nav ul li button{
    font-size: 30px;
    color: rgb(249, 249, 249);
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover{
    color: aqua;
}
nav ul li a:hover{
    color: aqua;
}
a{
    text-decoration: none;
    color:palevioletred;
    font-size: 48px;
}


h1{
   margin-left: 18px; 
   color: black;
   padding: 30px 0;
   text-align: left;
   font-size: 2.75rem;
}
h3{
    color: #060606;
    font-size: 1.87rem;
}
.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}
.weather-input{
    width: 440px;
}
.weather-input input{
    width: 410px;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.weather-input .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #242b4a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-input .separator::before{
    content: "or";
    color: #5372f5;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #faf8f8;
}
.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: #ffff;
    font-size: 1rem;
    border-radius: 4px;
    background: #5372f5;
}
.weather-input .location-btn{
    background: #4e5fab;
}
.weather-data{
    width: 100%;
}
.current-weather{
    color: #080808;
    display: flex;
    border-radius: 5px;
    padding: 8px 40px 10px 10px;
    background: #bdc6ef;
    justify-content: space-between;
}
.current-weather h2{
    font-size: 1.7rem;
}
.weather-data{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4{
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2{
    font-size: 1.8rem;
    margin: 20px 0;
}
.days-forecast h3{
    font-size: 1.75rem;
}
.weather-cards{
    display: flex;
    gap: 40px;
}
.weather-cards .card{
    list-style: none;
    color: #0e0e0e;
    padding: 18px 16px;
    border-radius: 5px;
    background: #bac5f9;
    width: calc(100% / 5);
}
.weather-cards .card img{
    max-width: 70px;
    margin: 5px 0 -12px 0;
}
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}



